/* styles.css */

body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
    background-image: url('images/background-image.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    color: white;
}

h1 {
    background-color: rgba(0, 0, 0, 0.5);
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    margin: 20px auto;
    width: 80%;
    max-width: 400px;
    position: relative;
    z-index: 1;
    color: lightblue;
}

form {
    background-color: rgba(0, 0, 0, 0.5);
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    margin: 20px auto;
    width: 80%;
    max-width: 400px;
    position: relative;
    z-index: 1;
}

.service-label {
    display: block;
    margin-bottom: 10px;
    color: lightblue;
}

.service-details {
    display: flex;
    align-items: center;
}

.service-image {
    width: 50px;
    height: 50px;
    margin-right: 10px;
}

input[type="number"] {
    width: 50px;
}

button {
    background-color: darkblue;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
}

#result {
    background-color: rgba(0, 0, 0, 0.5);
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    margin: 20px auto;
    width: 80%;
    max-width: 400px;
    position: relative;
    z-index: 1;
    color: lightblue;
}
